

<footer>
    <div class="container">
        <div class="copyright">
            &copy; Tsunami Coffee
        </div>

        <nav>
            <ul>
                <li>Store</li>
                <li>Hours</li>
                <li>Wholesale</li>
            </ul>
        </nav>
    </div>
</footer>