<head>
    <title>Tsunami Coffee</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/portfolio-css/coffee-reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/portfolio-css/coffee-style.css">
</head>