

<!-- Footer -->
<!--
<footer>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md">
            <h5 class="text-center footer-content">Copyright © 2020 02Pilot LLC</h5>
        </div>
    </div>
</footer>
--> 
<footer id="footer">
        <h5 class="copyright-text">Copyright &copy; 2020 02Pilot LLC</h5>
</footer>
