

<!-- Footer -->
<footer class="page-footer font-small blue">

    <div class="footer-copyright text-center py-3">
    <h5 class="text-center footer-content">Copyright © 2020 02Pilot LLC</h5>
    </div>
    

</footer>


