

<!-- New Header -->
<header>
            <div class="row position-fixed company-col" id="test" data-aos="fade-out">
                <div class=" col-sm col-xs col-md col-lg col-xl ">
                    <h5 class="company-logo">August Shah</h5>
                    <h5 class="company-contact"> <a href="tel:443-681-9485">443-681-9485</a> || <a
                            href="mailto:augustshah@02pilot.com">augustshah@02pilot.com</a> </h5>
                </div>
            </div>
          
        <div class="row position-fixed dropdown" id="dropdown-hide">
            <i class=" col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 lg fas fa-bars btn  btn-lg" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </i>
            <div class="dropdown-menu" id="dropdown-id" aria-labelledby="dropdownMenuButton" data-aos="fade-down"
            >
                <a class="dropdown-item" href="/">Home</a>
                <a class="dropdown-item" href="/portfolio">Portfolio</a>
                <a class="dropdown-item dropdown-submenu" href="/time"> Aviation</a>
                <a class="dropdown-item" href="/contact">Contact</a>
                <a class="dropdown-item signin" href="/signin">Signin/Signup</a>
            </div>
        </div>
    
</header>
--> 