
<html>

<head>
    <title>Checkout canceled</title>
    <%- include('layouts/payment/paymentCanceled-style'); -%>
</head>

<body>
    <div id="loader">
        <div id="particles-background" class="vertical-centered-box"></div>
        <div id="particles-foreground" class="vertical-centered-box"></div>

        <div class="vertical-centered-box">
            <div class="content">
                <div class="loader-circle"></div>
                <div class="loader-line-mask">
                    <div class="loader-line"></div>
                </div>
                <%- include('layouts/payment/paymentCanceled-svg'); -%>

            </div>
        </div>
    </div>

    <section data-aos="fade-down" data-aos-duration="3000" id="pagecontent">
        <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
    </section>
</body>
<!-- jQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/javascripts/loading-animation.js"></script>
<!-- AOS-->
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script type="text/javascript">
    AOS.init({
        duration: 1500
    });
</script>
</html>