html{
    scroll-behavior: smooth;
}
body {
    background: url('../images/portfolio-background.jpg') no-repeat center;
    background-size: cover;
     background-attachment: fixed;
}


/* Responsive Media Tags */

@media only screen and (width: 812px) and (height: 375px) {
    .company-logo, .company-contact {
        position: relative;
        left: 15%;
        zoom: .8 !important;
    }

    .dropdown {
        position: relative;
        top: 15% !important;
        left: 5%;
        z-index: 10;
    }
        
    #dropdown-id {
          zoom: .5;
        }

    .portfolio-move {
        zoom: .5 !important;
    }
    footer {
        top: 425px !important;
        right: 50px !important;
        width: 126%!important;
    }

}

@media only screen and (min-width: 400px) and (max-width: 500px) {
    .company-col {
        left: 3% !important;
        width: 100%;
        zoom: .5 !important;
    }
    i.btn {
        zoom: 1.2;
    }
    .dropdown {
        top: 70px !important;
        left: 10px;
        z-index: 10;
    }

    #dropdown-id {
        top: 47px !important;
        zoom: .5;
    }

    #port {
        top: 43px;
        left: 53% !important;
        zoom: .7;
    }
   .portfolio-move {
        position: relative;
        top: 80px;
        left: 2%;
        zoom: .5 !important; 
    }
    footer {
        position: absolute !important;
        top: 125% !important;
        left: 1% !important;
        width: 200%!important;
    }
    #footer-content {
        position: relative; 
        right: 20%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 375px) {
    .company-col { 
        left: -18%  !important;
        width: 60%;
        zoom: .6 !important;
    }

    .dropdown {
        left: 10px;
        zoom: 2.2 !important;
        z-index: 10;
    }

    #dropdown-id {
        zoom: .34;
    }

    #port {
        left: 54% !important;
        zoom: .7;
    }
   .portfolio-move {
        position: relative;
        left: 2%;
        zoom: .5 !important; 
    }
    
    footer {
        position: absolute !important;
        top: 194% !important;
        left: 1% !important;
        width: 200%!important;
    }
    #footer-content {
        position: relative; 
        right: 21%;
    }
} 

 /* Nav bar */
  i.btn {
     -webkit-appearance: none;
 }

.dropdown {
    right: 94%;
    top: 11%;
    zoom: 1.7;
    color: white;
    z-index: 10;
}


.dropdown-menu {
    top: 35% !important; 
    left: 25% !important;
    zoom: .6;
}


#home {
    position: relative;
    z-index: 9;
}

/*HEADER-----------------*/

header .logo-and-contact .company-logo {
    float: left;
    margin-top: 13px;
}
header .logo-and-contact .company-contact {
    float: right;
    margin-top: 8px;
}

header .menu nav ul li a:hover {
    background: #1a2d4e;
    transition: 0.4s ease-in;
    color: #00a4b8;
}

header {
    font-family: 'Lora', serif;
}

.company-logo, h5 {
    font-family: 'Merriweather', serif;
    font-size: 17px;
}


.company-col {
    position: relative;
    top: 30px;
    right: 5%;
    zoom: 1;
}

.company-logo, .company-contact {
    color: white;
}



/*PORTFOLIO--------------------*/
#port {
    position: relative;
    bottom: 80%;
    left: 48.7%;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    color: whitesmoke;
    z-index: -1;
}

.round{
        border-radius: 20px;
    }

 .portfolio-move {
    padding-bottom: 20px;
    padding-left: 40%;
     zoom: .9;
}
/*FOOTER-------------------*/

footer h5 {
    color: white;
}


footer {
    background: #1a2d4e;
    position: relative;
    top: 100px;
    right: 25%;
    width: 152%;
}
 
     
/* Hide signin page for user*/
.signin {
    display: none;
}
