


html{
    scroll-behavior: smooth;
}

 


/* Responsive Media Tags */
@media only screen and (min-width: 1600px) and (max-width: 2500px) {
  

}

@media only screen and (min-height: 1000px) and (max-height: 1600px) {
  
}


@media only screen and (min-width: 1000px) and (max-width: 1500px) {


     

}

@media only screen and (width: 812px) and (height: 375px) {
    .company-logo, .company-contact {
        position: relative;
        left: 12%;
        zoom: .8 !important;
    }

    .dropdown {
        position: relative;
        top: 15% !important;
        left: 5%;
    }
        
    #dropdown-id {
          zoom: .5;
        }

    .august-1 {
        position: relative;
        bottom: 30px !important;
        left: 1% !important;
        zoom: .7;
    }

     .august-3 {
        position: relative;
        bottom: 21px;
        left: 5%; 
        zoom: .7;
}


    #august-4 {
        font-size: 33px;
    }

    #see {
        zoom: .9;
    }

    #see-id {
        right: 45px !important;
        zoom: .8;
    }

    #services-text {
        bottom: 30px;
        right: 25%;
    }

    #web-id {
        bottom: 90px;
        zoom: .8;
    }
    .word-col {
        bottom: 90px;
        zoom: .8;
    }

    .consulting-row {
        position: relative;
        right: 20px;
        zoom: .8;
    }
    .consulting-col {
        bottom: 660px !important; 
    }
    .consulting {
        width: 280px !important;
    }

    .consulting-title {
        left: 4% !important;
    }

   #about-chevron {
        zoom: .7;
    }
    .about-link {
        right: 15% !important;
    }

    .about-row {
     position: relative; 
     bottom: 290px;
     zoom: .7;
 }

   
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
    body {
        background: black !important;
    }
    #video {
        display: none;
    }
    
    .company-col {
        left: 5%;
    }

    i.btn {
        zoom: 1.1;
    }
    .dropdown {
        top: 90px !important;
        left: 7%;
        z-index: 10;
        zoom: 1.6 !important;
    }
    #dropdown-id {
        zoom: .4 !important;
    }
    .august-1 {
        top: 100px !important;
        left: 1% !important; 
    } 
    .august-3 {
        top: 120px !important;
        left: -1%;
    }
 
    .see-col {
        left: 4%;
    }

    #see-id {
        right: 69% !important;
    }
     #services {
        top: 600px !important;
        left: 1% !important;
        zoom: .8;
    }
    
     .web-row {
        left: 63% !important;
        width: 80% !important;
   
    }
    #ion-icon-globe {
        left: 39% !important;
    }
    #web-text {
     right: -21% !important;
     top: -120px;
     width: 100%;
      zoom: 1.2 !important;
    }
    #services-1-description {
        bottom: 75% !important;
        left: 25% !Important;
        font-size: 12px !important;
        width: 50% !important;
   
    }
  
    
    
    .wordpress {
        top: -110px !important;
        left: 24% !important;
        width: 290px !important;

    }
    #word-id {
        height: 260px !important;
    }
      #ion-icon-desktop {
        left: 220% !important;
    }
    
    #wordpress {
        top: -20px;
        left: -1% !important;
    }
    
    #services-2-description {
        top: -10px;
        left: -3% !important;
        font-size: 12px !important;
    }
    
    .consulting {
        top: -90px;
        left: 24% !important;
        width: 290px !important;
 
    }
    #consulting-id {
        height: 270px !important;
    }
    #ion-icon-people {
        left: 217% !important;
    }
  .consulting-title {
        top: 10px;
        left: -6% !important;
        width: 200% !important;
    }
    #services-3-description {
        top: 29px !Important;
        font-size: 22px !important;
    }
   #about-chevron {
        top: 450px !important;
        left: 30% !important; 
        width: 69% !important;
        height: 170px !important;
        zoom: .89;
   
    }
    #me {
        position: relative;
        top: 45px !important;
        left: 14%;
        zoom: .9;
    }
    .about-link {
        top: 60px !important;
        left: 32% !important; 
        zoom: .7;
    }
      #about {
        top: 2200px !important;
        left: 9% !important;
        width: 70% !important;
        height: 1700px !Important;
        zoom: .3 !important;
        box-shadow: 0px 3px 2px 1px rgb(74, 72, 72) !important;
        border-radius: 5px;
        background: #ffffff !important;
    }
    .about-me-content {
        top: 20px;
        left: 17% !important;
    }

      #about-image {
        top: 3% !important;
        left: 15% !important;
        zoom: .2 !important;
    }
    .about-description {
        top: 60px !important;
        line-height: 1.5!important;
        font-size: 14px !important;
    }


    footer {
        top: 700px !important;
        right: 50px !important;
        width: 170%!important;
    }
    
    .footer-content {
        position: relative;
        left: -12% !important;
        zoom: .8 !important;
    }


}

@media only screen and (min-width: 300px) and (max-width: 375px) {
     body {
        background: black !important;
    }
    #video {
        display: none;
    }
    .company-col {
       left: 8%;
   } 
  .dropdown {
        position: relative;
        top: 15% !important;
        left: 10%;
        zoom: 1.7 !important;
        z-index: 10;
    }

    #dropdown-id {
        top: 250px !important;
        left: 170% !important;
        zoom: .1;
    }


    .august-1 {
        left: 5% !important;
        zoom: .9;
    }

    .august-3 {
        left: 5%;
        width: 100%;
        zoom: .8;
    }

    .see-col {
        left: 10%;
    }

    #see-id {
        right: 60% !important;
    }
    
    #services {
        top: 700px !important;
        left: 30% !important;
        zoom: .7;
    }

    #services-text {
        top: 40px;
        right: 50%;
    }

    .web-row {
        left: 10% !important;
        width: 60% !important;
    }

    #ion-icon-globe {
        left: 30% !important;
    }
    
    #web-text {
        left: -5% !important;
        font-size: 22px !important;
    }

    
    .wordpress {
        left: 10% !important;
        width: 180px !important;
    }


    #ion-icon-desktop {
        left: 25% !important;
    }

    #wordpress {
        left: -5% !important;
        font-size: 22px !important;
    }

   .consulting-col {
        bottom: 250px !important;
        left: 9% !important;
    }

    .consulting {
        width: 190px !important;
    }

    #ion-icon-people {
        left: 30% !important; 
    }

    .consulting-title {
        left: 10% !important;
        font-size: 22px !important;
    }

    #about-chevron {
        top: -275px !important;
        left: -51% !important; 
        width: 65%;
        height: 170px !important;
        zoom: .89;
    }
    #me {
        position: relative;
        top: 45px !important;
        left: 14%;
        zoom: .9;
    }
    .about-link {
        left: 25% !important; 
        top: 60px !important;
        zoom: .7;
    }

     #about {
        left: 10% !important;
        top: 1300px !important;
        width: 90% !important;
        height: 600px !important;
        zoom: .6 !important;    
        box-shadow: 0px 3px 2px 1px lightgrey;
        border-radius: 5px;
        background: #f8f8f8;
    }


    .about-me-content {
        position: relative;
        top: 10px;
        left: 30% !important;
    }
    #about-image {
        bottom: 120% !important;
        left: 23% !important;
        zoom: .08 !important;
    }




    footer {
        top: 380% !important;
        width: 170%!important;
    }
    
    .footer-content {
        position: relative;
        left: -20% !important;
        zoom: .8 !important;
    }

} 
 

/* Site Maintenance Toast*/
.toast-div {
    position: relative;
    min-height: 200px;
}
.toast {
    position: absolute; 
    top: 0; 
    left: 110%;
    width: 100%;
    z-index: 1;
}

 /* Nav bar */

 i.btn {
     -webkit-appearance: none;
 }

.dropdown {
    top: 15%;
    right: 92%;
    zoom: 2;
    z-index: 10;
}
#dropdownMenuButton {
    color: white;
}

.dropdown-menu {
    top: 35% !important; 
    left: 25% !important;
    zoom: .6;
    z-index: 10;
}

header {
    font-family: 'Lora', serif;
}


/*HEADER-----------------*/

header .logo-and-contact .company-logo {
    float: left;
    margin-top: 13px;
}
header .logo-and-contact .company-contact {
    float: right;
    margin-top: 8px;
}



header .menu nav ul li a:hover {
    background: #1a2d4e;
    transition: 0.4s ease-in;
    color: #00a4b8;
}

.company-logo, h5 {
    font-family: 'Merriweather', serif;
    font-size: 17px;
}


.company-col {
        top: 40px;
        right: 46%;
        zoom: 1.4;
        z-index: 10;
        color: white;
        width: 50%;
}
a {
    color: white;
}

a:hover {
    color: blue;
}

/*HOME-----------------------*/
#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#home .jumbotron {
    background: none;
    padding: 50px;
}
#home .see-down .glyphicon-chevron-down {
     margin-left: 8px;
    color: #1a2d4e;
    font-size: 5em;
   
}
#home .see-down .glyphicon-chevron-down:hover {
    margin-bottom: 10px;
    color: black;
    transition: 0.3s ease-out;
}

#more-chevron {
    position: relative;
    top: 10px;
    right: 1%;
    zoom: .9;
    z-index: 10;
}

.fa-chevron-down {
    color: black !important;
}

.services-test {
  display: inline-block;
  padding-top: 160%;
    position: absolute;
    bottom: .1%;
    left: 46.5%;
}

#see {
    position: relative;
    right: 73px;
    bottom: 14%;
    width: 116px;
    font-size: 30px;
    font-family: 'Lora', serif !important;
    color: black;
}
#see-id {
    position: relative;
    right: 53%;
}

#august-2 {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    color: white;
}
.august-1 {
    position: relative;
     bottom: -90px;
     left: 24%;
}

.august-3 {
    position: relative;
    bottom: -220px;
    right: 25%;
}

#august-4 {
   font-family: 'Playfair Display', serif;
   color: white;

}
.title-col {
    position: relative;
    left: 4%;
    z-index: 1;
}


.see-col {
   padding-left: 52%;
   position: relative;
   top: 190px;

}

/*SERVICES-------------------*/

#services .col-md-4 .services-content .ion-android-phone-portrait,
#services .col-md-4 .services-content,
#ion-icon-globe, #ion-icon-desktop, #ion-icon-people,
#services .col-md-4 .services-content .ion-android-checkbox-outline,
#services .col-md-4 .services-content .ion-paintbrush,
#services .col-md-4 .services-content .ion-edit, #services-1 {
    font-size: 4em;
    display: inline-block;
    color: #00a4b8;
}

#services {
    position: relative;
    top: 550px;
    left: 8%;
    width: 100%;
    font-family: 'Lora', serif;
    z-index: 1;
}

#services-1-description, #services-2-description {
    font-size: 14px;
}
div.services-content {
    padding-left: 20px;
}
     
h3, h4 {
    color: black;
}
h1.services-text {
    padding-left: 60%;
}

#services-row {
    position: relative;
    bottom: 35px;
}

.services-text {
    position: relative;
    right: 33%;
    color: white;
}


.web-col {
     position: relative;
     top: 64px;
     right: 97%;
     height: 290px !important;
     overflow-x: hidden;
     overflow-y: scroll;
 }
 .web-row {
    position: relative;
    left: 7%;
    padding-left: 20%;
    width: 53%;
}

#ion-icon-globe {
    position: relative;
    top: 31px;
    left: 40%;
    zoom: .7;
}

  #web-text {
     position: relative;
     bottom: 89%;
     right: 2%;
     font-size: 24px;
     font-family: 'Abril Fatface', cursive;
 }

#services-1-description {
    position: relative;
    bottom: 78%;
    right: 5%;
    width: 30%;
    line-height: 157%;
    font-size: 16px;
}


.wordpress {
     position: relative;
     top: -395px;
     left: 32%;
     height: 290px !important;
     width: 33%;
     overflow-x: hidden;
     overflow-y: scroll;
     z-index: 1
}


#ion-icon-desktop {
    position: relative;
    top: 24px;
    left: 295%;
    zoom: .7;
}

#wordpress {
    position: relative;
    bottom: 20%;
    left: 18%;
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
}

#services-2-description {
    position: relative;
    bottom: 20px;
    left: 2%;
    width: 100%;
    zoom: 1;
    line-height: 150%;
    font-size: 15px;
}


.consulting-col{
    position: relative;
    bottom: 570px;
    left: 66%;
}

.consulting {
  position: relative;
  left: 68%;
  bottom: 686px;
  width: 33%;
  height: 290px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;

}


#ion-icon-people {
    position: relative;
    top: 30px;
    left: 280%;
    zoom: .7;
}

.consulting-title {
    position: relative;
    bottom: 1%;
    left: 15%;
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
}

#services-3-description {
   position: relative;
   top: 4%;
   right: 1.5%;
   line-height: 170%;
   zoom: .6;
   font-size: 22px;
}

/*ABOUT-----------------------*/
#about, .web-col, .wordpress, .consulting{
    height: inherit;
    box-shadow: 0px 3px 2px 1px lightgrey;
    border-radius: 5px;
    background: #f8f8f8;
}

#about {
    position: relative;
    top: 440px;
    left: 5%;
    max-width: 500px;
    height: 500px;
    zoom: 1.1;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
}



h1 {
    font-family: 'Abril Fatface', cursive;
    padding-top: 10px;
}

#about-chevron {
    position: relative;
    bottom: 100px;
    left: 37%;
    width: 40%;
    height: 120px;
    z-index: 1;
}


.about-link {
    position: relative;
    top: -400%;
    left: 34%;
}  

.about-me-content {
    position: relative;
    left: 29.3%;
}
   #about-image {
    position: relative;
    top: 2%;
    left: 27%;
    zoom: .07;
}




.about-description {
    position: relative; 
    top: 9%;
    padding-left: 5%;
    line-height: 1.6;
    font-family: 'Peddana', serif;
    font-size: 16px;
}

.about-chev {
    padding-left: 45%;
}




 
/*FOOTER-------------------*/

footer h5 {
    color: white;
}

footer {
    background: #1a2d4e;
    position: relative; 
    top: 600px; 	
	width: 100%;
	margin:auto;

}
  

.footer-content {
  position: relative;
  left: 3%;
  zoom: 1.4;
}


html {
    min-height: 100%;
}
   

/* Hide signin page for user*/
.signin {
    display: none;
}

   
    /* test CSS */ 










