


html{
    scroll-behavior: smooth;
}

 
/* Responsive Media Tags */

@media only screen and (width: 812px) and (height: 375px) {
    .company-logo, .company-contact {
        position: relative;
        left: 12%;
        zoom: .8 !important;
    }

    .dropdown {
        position: relative;
        top: 15% !important;
        left: 5%;
    }
        
    #dropdown-id {
          zoom: .5;
        }

    .august-1 {
        position: relative;
        bottom: 30px !important;
        left: 1% !important;
        zoom: .7;
    }

     .august-3 {
        position: relative;
        bottom: 21px;
        left: 5%; 
        zoom: .7;
}


    #august-4 {
        font-size: 33px;
    }

    #see {
        zoom: .9;
    }

    #see-id {
        right: 45px !important;
        zoom: .8;
    }

    #services-text {
        bottom: 30px;
        right: 25%;
    }

    #web-id {
        bottom: 90px;
        zoom: .8;
    }
    .word-col {
        bottom: 90px;
        zoom: .8;
    }

    .consulting-row {
        position: relative;
        right: 20px;
        zoom: .8;
    }
    .consulting-col {
        bottom: 660px !important; 
    }
    .consulting {
        width: 280px !important;
    }

    .consulting-title {
        left: 4% !important;
    }

   #about-chevron {
        zoom: .7;
    }
    .about-link {
        right: 15% !important;
    }

    .about-row {
     position: relative; 
     bottom: 290px;
     zoom: .7;
 }

     footer {
        top: 425px !important;
        right: 50px !important;
        width: 126%!important;
    }
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
    .company-col {
        left: 5%;
    }
    i.btn {
        zoom: 1.1;
    }
    .dropdown {
        top: 70px !important;
        left: 7%;
        z-index: 10;
    }
    #dropdown-id {
        zoom: .4 !important;
    }
    
    .see-col {
        left: 6%;
    }

    #see-id {
        right: 59% !important;
    }
     #services {
        top: 600px !important;
        left: 10% !important;
        zoom: .8;
    }
     .web-row {
        left: 25% !important;
        width: 70% !important;
    }
    
    .wordpress {
        left: 26% !important;
        width: 220px !important;
    }
    
    .consulting-col {
        top: -250px;
        left: -6% !important;
    }

    .consulting {
        width: 240px !important;
    }
   #about-chevron {
        top: -450px !important;
        left: 15% !important; 
        width: 69%;
        height: 170px !important;
        zoom: .89;
    }
    #me {
        position: relative;
        top: 45px !important;
        left: 14%;
        zoom: .9;
    }
    .about-link {
        top: 60px !important;
        left: 32% !important; 
        zoom: .7;
    }
    #about {
        top: 950px !important;
        left: 18% !important;
        zoom: .5 !important;
    }

    #about-image {
        bottom: 150px !important;
        left: 53% !important;
    }


    footer {
        top: 550px !important;
        right: 50px !important;
        width: 170%!important;
    }
    
    .footer-content {
        position: relative;
        right: 5% !important;
    }


}

@media only screen and (min-width: 300px) and (max-width: 375px) {
    .company-col {
       left: 8%;
   } 
  .dropdown {
        position: relative;
        top: 15% !important;
        left: 10%;
        zoom: 1.7 !important;
        z-index: 10;
    }

    #dropdown-id {
        top: 250px !important;
        left: 170% !important;
        zoom: .1;
    }


    .august-1 {
        left: 5% !important;
        zoom: .9;
    }

    .august-3 {
        left: 5%;
        width: 100%;
        zoom: .8;
    }

    .see-col {
        left: 10%;
    }

    #see-id {
        right: 65% !important;
    }
    
    #services {
        top: 700px !important;
        left: 30% !important;
        zoom: .7;
    }

    #services-text {
        top: 40px;
        right: 50%;
    }

    .web-row {
        left: 10% !important;
        width: 60% !important;
    }

    #ion-icon-globe {
        left: 30% !important;
    }
    
    #web-text {
        left: -5% !important;
        font-size: 22px !important;
    }

    
    .wordpress {
        left: 10% !important;
        width: 180px !important;
    }


    #ion-icon-desktop {
        left: 25% !important;
    }

    #wordpress {
        left: -5% !important;
        font-size: 22px !important;
    }

    .consulting-col {
        bottom: 250px !important;
        left: -12% !important;
    }

    .consulting {
        width: 190px !important;
    }

    #ion-icon-people {
        left: 30% !important; 
    }

    .consulting-title {
        left: 10% !important;
        font-size: 22px !important;
    }

    #about-chevron {
        top: -450px !important;
        left: -20% !important; 
        width: 65%;
        height: 170px !important;
        zoom: .89;
    }
    #me {
        position: relative;
        top: 45px !important;
        left: 14%;
        zoom: .9;
    }
    .about-link {
        left: 25% !important; 
        top: 60px !important;
        zoom: .7;
    }

    #about {
        left: 21% !important;
        top: 950px !important;
        zoom: .7 !important;
    }

    .about-me-content {
        position: relative;
        top: 10px;
    }
    #about-image {
        bottom: 150px !important;
        left: 18% !important;
    }


    footer {
        top: 870px !important;
        right: 50px !important;
        width: 170%!important;
    }
    
    .footer-content {
        position: relative;
        right: 4% !important;
    }

} 







 /* Nav bar */

 i.btn {
     -webkit-appearance: none;
 }

.dropdown {
    top: 11%;
    right: 94%;
    zoom: 1.7;
}

.dropdown-menu {
    top: 35% !important; 
    left: 25% !important;
    zoom: .6;
}

header {
    font-family: 'Lora', serif;
}
#home {
    position: relative;
    z-index: 9;
}

/*HEADER-----------------*/

header .logo-and-contact .company-logo {
    float: left;
    margin-top: 13px;
}
header .logo-and-contact .company-contact {
    float: right;
    margin-top: 8px;
}



header .menu nav ul li a:hover {
    background: #1a2d4e;
    transition: 0.4s ease-in;
    color: #00a4b8;
}

.company-logo, h5 {
    font-family: 'Merriweather', serif;
    font-size: 17px;
}


.company-col {
        position: relative;
        top: 13px;
        right: 16%;
        zoom: 1;
      

}
.company-logo, .company-contact {
    font-weight: bolder !important;
}

/*HOME-----------------------*/
 body {
    background: url('../images/landing-background-2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed; 

}
#home .jumbotron {
    background: none;
    padding: 50px;
}
#home .see-down .glyphicon-chevron-down {
     margin-left: 8px;
    color: #1a2d4e;
    font-size: 5em;
   
}
#home .see-down .glyphicon-chevron-down:hover {
    margin-bottom: 10px;
    color: black;
    transition: 0.3s ease-out;
}

#more-chevron {
    position: relative;
    top: 10px;
    right: 1%;
    zoom: .9;
    z-index: 10;
}

.services-test {
  display: inline-block;
  padding-top: 160%;
    position: absolute;
    bottom: .1%;
    left: 46.5%;
}

#see {
    position: relative;
    right: 73px;
    bottom: 14%;
    width: 116px;
    font-size: 30px;
    font-family: 'Lora', serif !important;
    color: black;
}
#see-id {
    position: relative;
    right: 53%;
}

#august-2 {
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    color: white;
    font-weight: bold;
}
.august-1 {
    position: relative;
     bottom: 40px;
    left: 0%;
}

.august-3 {
    position: relative;
    bottom: 28px;
}

#august-4 {
   font-family: 'Playfair Display', serif;
   color: black;
   font-weight: bolder;

}
.title-col {
    position: relative;
    left: 4%;
}


.see-col {
   padding-left: 50%;
   position: relative;

}


.see-more-chevron {
    position: relative;
    top: 38%;
    right: 39px;
    }

/*SERVICES-------------------*/

#services .col-md-4 .services-content .ion-android-phone-portrait,
#services .col-md-4 .services-content,
#ion-icon-globe, #ion-icon-desktop, #ion-icon-people,
#services .col-md-4 .services-content .ion-android-checkbox-outline,
#services .col-md-4 .services-content .ion-paintbrush,
#services .col-md-4 .services-content .ion-edit, #services-1 {
    font-size: 4em;
    display: inline-block;
    color: #00a4b8;
}

#services {
    position: relative;
    top: 550px;
    left: 8%;
    width: 100%;
    font-family: 'Lora', serif;
}

#services-1-description, #services-2-description {
    font-size: 14px;
}
div.services-content {
    padding-left: 20px;
}

.about-description {
    line-height: 220% !important;
 }
     
h3, h4 {
    color: black;
}
h1.services-text {
    padding-left: 60%;
}

#services-row {
    position: relative;
    bottom: 35px;
}

.services-text {
    position: relative;
    right: 33%;
}


.web-col {
     position: relative;
     top: 30px;
     right: 98%;
     height: 300px !important;
     overflow: scroll;
 }
 .web-row {
    position: relative;
    left: 7%;
    padding-left: 20%;
    width: 50%;
}
   .web-col {
     position: relative;
     top: 30px;
     right: 98%;
     height: 300px !important;
     overflow: scroll;
 }

#ion-icon-globe {
    position: relative;
    top: 31px;
    left: 37%;
    zoom: .6;
}

  #web-text {
     position: relative;
     top: 40px;
     left: 3%;
     font-size: 24px;
     font-family: 'Abril Fatface', cursive;
 }

#services-1-description {
    position: relative;
    top: 50px;
    width: 100%;
    line-height: 157%;
}


.wordpress {
     position: relative;
     bottom: 270px;
     left: 8%;
     height: 300px !important;
     width: 40%;
     overflow: scroll;
}

.word-row {
    position: relative;
    left: 5%;
    padding-left: 20%;
    width: auto;
}
#ion-icon-desktop {
    position: relative;
    top: 24px;
    left: 37%;
    zoom: .6;
}

#wordpress {
    position: relative;
    top: 38px;
    left: 5%;
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
}

#services-2-description {
    position: relative;
    top: 47px;
    left: 8px;
    width: 95%;
    zoom: 1;
    line-height: 150%;
}


.consulting-col{
    position: relative;
    bottom: 570px;
    left: 66%;
}

.consulting {
  width: 350px;
  height: 300px !important;
  overflow: scroll;
}


#ion-icon-people {
    position: relative;
    top: 24px;
    left: 39%;
    zoom: .6;
}

.consulting-title {
    position: relative;
    top: 11%;
    left: 15%;
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
}

#services-3-description {
   position: relative;
   top: 16%;
   right: 1.5%;
   line-height: 146%;
   zoom: .6;
}
/*ABOUT-----------------------*/
#about .about-container, .web-col, .wordpress, .consulting, #about-chevron{
    height: inherit;
    box-shadow: 0px 3px 2px 1px lightgrey;
    border-radius: 5px;
    background: #f8f8f8;
}

#about {
    position: relative;
    top: 500px;
    left: 11%;
    width: 78%;
    zoom: .9;
}

h5#me {
    font-family: 'Lora', serif;
    font-size: 30px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    padding-top: 10px;
}
.about-description {
    font-family: 'Source Sans Pro', sans-serif;

}
#about-chevron {
    position: relative;
    bottom: 500px;
    right: 15%;
    width: 40%;
    height: 120px;
}
#me {
    position: relative;
    left: 18% !important;
    top: 10px;
}
.about-link {
    top: 15px !important;
    left: 35% !important;
}

    #about-image {
    position: relative;
    bottom: 10%;
    left: 27%;
    zoom: .1;
}

.img-col {
    padding-top: 8%;
    padding-right: 10%;
    position: relative; 
    bottom: 200px;
    left: 85%;
}

.descrip-col {
    padding-top: 11%;
    padding-left: 5%;
    position: relative;
    top: 350px;
    font-size: 20px;
}

.about-chev {
    padding-left: 45%;
}


.about-link {
    position: relative;
    top: 50px;
    left: 5%;
}   
/*FOOTER-------------------*/

footer h5 {
    color: white;
}

footer {
    background: #1a2d4e;
    position: relative;
    top: 550px;
    right: 20%;
    width: 140%;
}
  

 
   

/* Hide signin page for user*/
.signin {
    display: none;
}

   
    /* test CSS */ 




