

<head>
    <title>Morocco</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/portfolio-css/travel-reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/portfolio-css/travel-style.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Merriweather:400,400i|Work+Sans:400,500,800"
        rel="stylesheet">
</head>